# Opcional: o docker-compose.yml da raiz já injeta estes valores automaticamente.
OLTP_HOST=postgres
OLTP_PORT=5432
OLTP_DATABASE=estoque_banco
OLTP_USER=debezium_replicator
OLTP_PASSWORD=debezium_password
